/*************** LAYOUT ********************/

/* class için .text-red{} */
/* id için #id-bilgisi{} */
 
body{
     background-color: bisque;

}
.text-red{

    color: red;
}

.fs-14{
    font-size: 14px;

}

.fs-20{
    font-size: 20px;
}

.fs-30{
    font-size: 30px;
}
